{% extends 'base.html' %}

{% block content %}
<section class="bg-light text-dark text-center">
    <div class="container p-5 bg-light">
        <div class="row">
            <div class="d-flex bg-light align-items-center">
                <h1 class="col text-center">Your Collection</h1>
            </div>
        </div>
    </div>
</section>
<section class="d-flex bg-light">
    <div class="container p-5 bg-light" id="img-container">
        <div class="d-flex align-items-center justify-content-center">
            <img src="../../static/images/inventoryimage.jpg" class="img-fluid p-0 m-0 w-100">
        </div>
    </div>
</section>
{% endblock %}